<!-- faq-section -->
<section class="faq-section" id="faq">
    <div class="container">
        <!-- ***** FAQ Start ***** -->
        <div class="col-md-6 offset-md-3">
            <div class="faq-title text-center pb-3"></div>
        </div>
        <div class="row">
            <div class="col">
                <div class=" offset">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-aria-expanded="true" data-aria-controls="faqCollapse-1"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapse-1">
                                        <span class="badge">1</span>Q: What is a library management
                                        system? <span id="expand" style="float: right; font-size: 20px;">+</span>
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Ans: A library management system is a software
                                        application designed to manage and organize all aspects of a
                                        library's operations, such as cataloging and circulation of
                                        books, managing patrons, and tracking library inventory.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-aria-expanded="false" data-aria-controls="faqCollapse-2"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapse-2">
                                        <span class="badge">2</span>Q: What are the benefits of using
                                        a library management system? <span id="expand"
                                            style="float: right; font-size: 20px;">+</span>
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Ans: Using a library management system can help
                                        libraries automate many of their routine tasks, which can
                                        save time and reduce errors. It can also help libraries
                                        better manage their resources and provide better service to
                                        patrons by providing tools for searching and locating
                                        materials and tracking patron borrowing histories.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-aria-expanded="false" data-aria-controls="faqCollapse-3"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapse-3">
                                        <span class="badge">3</span>Q: How do I search for a book in
                                        the library management system? <span id="expand"
                                            style="float: right; font-size: 20px;">+</span>
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Ans:After Login to your account , Our library
                                        management systems provide a search feature that allows users
                                        to search for books by author, title, subject, or keyword.
                                        Simply enter your search terms in the appropriate fields and
                                        click the search button to view a list of matching results.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-aria-expanded="false" data-aria-controls="faqCollapse-4"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapse-4">
                                        <span class="badge">4</span>Q: Can I renew my library books
                                        online using the library management system? <span id="expand"
                                            style="float: right; font-size: 20px;">+</span>
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Ans: Yes, Our library management systems provide a
                                        feature that allows patrons to renew their borrowed books
                                        online. Simply log in to your account, find the book you want
                                        to renew, and click the renew button.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="faqHeading-5">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-aria-expanded="false" data-aria-controls="faqCollapse-5"
                                        data-bs-toggle="collapse" data-bs-target="#faqCollapse-5">
                                        <span class="badge">5</span>Q: How do I reserve a book that
                                        is currently checked out in the library management system? <span id="expand"
                                            style="float: right; font-size: 20px;">+</span>
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Ans: Many library management systems provide a feature
                                        that allows patrons to reserve a book that is currently
                                        checked out. Simply log in to your account, find the book you
                                        want to reserve, and click the reserve button. When the book
                                        is returned, you will be notified and the book will be held
                                        for you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="../../../assets/images/FAQs.gif" alt="">
                <!-- <h2>FAQ</h2> -->
            </div>
        </div>
    </div>
    <hr>
</section>