.container{
    padding: 10px;
      max-width: 100%;
      background-color: #3489ed;
      justify-content: center;
      text-align: center;
    } 
    button{
      background-color:#90bed7;
      color: white;
      border: none;
    }
    button:hover{
      background-color: white;
      color: black;
     transform: scale(1.1);
    }
    
    .form-label{
      text-align: start;
  
    }
  /* form{
    justify-content: center;
    width: 50%;
  } */