<!-- <p>add-quiz works!</p> -->
<mat-card>
    <div class="mt20 ml20">

        <h1 >Add new Quiz</h1>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-mt-2">
                <form action="">

                    <!-- title -->
                    <mat-form-field class="w100">
                        <mat-label>Enter Title</mat-label>
                        <input type="text" name="title" placeholder="Enter here" matInput>
                    </mat-form-field>

                    <!-- description field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Discription</mat-label>
                        <textarea type="text" name="title" placeholder="Enter here" matInput rows="4"></textarea>
                    </mat-form-field>


                    <div class="row">
                        <div class="col-md-6">
                            <!-- Maxx Marks -->
                            <mat-form-field class="w100">
                                <mat-label>Max Marks</mat-label>
                                <input type="text" name="Marks" placeholder="Enter here" matInput>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <!-- Number of Question to be Display -->

                            <!-- Maxx Marks -->
                            <mat-form-field class="w100">
                                <mat-label>Number of Question</mat-label>
                                <input type="text" name="numbersOfQuestion" placeholder="Enter here" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- active field -->
                    <mat-slide-toggle class="example-margin mt20 mb20" [checked]="false" pulish status />


                    <!-- select categories -->
                    <h4>Select category Of Quiz</h4>
                    <mat-form-field class="w100">
                        <mat-label>Select category</mat-label>
                        <mat-select [(ngModel)]="categories" name="category">
                            @for (c of categories; track categories) {
                            <mat-option [value]="c.cid">{{c.title}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>


                    <!-- add button -->
                    <div class="text-center">
                        <button routerLink="#" mat-raised-button color="primary">Save
                            <mat-icon> save</mat-icon></button>
                    </div>
                    <br><br>

                </form>
            </div>
        </div>
    </div>
</mat-card>
<br><br>