<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 card">
                <mat-card class="m p">
                    <div class="container text-center mt20">
					<img src="../../../assets/loginBg.jpg" alt="" class="profile-image">
				</div>
				
				<h1 class="text-center">Login Here!!</h1>
			
				<!-- {{loginData | json }} -->
                
			<form (ngSubmit)="formSubmit()">
				<!-- username field -->
				<mat-form-field class="full-width" appearance="outline">
					<mat-label>User Name</mat-label>
					<input [(ngModel)]="loginData.username" name="username" matInput placeholder="Enter username" required="">
					<mat-hint>Valid username !!</mat-hint>
				  </mat-form-field>

				<!-- password field -->
				<mat-form-field class="full-width" appearance="outline">
					<mat-label>Password</mat-label>
					<input [(ngModel)]="loginData.password"  name="password" type="password" matInput placeholder="Enter Password" required="">
				  </mat-form-field>

                  <!-- button field -->
                  <div class="container text-center">
					<button type="submit" mat-raised-button color="primary">Login</button>

					<button type="reset" mat-raised-button class="ml20"  color="accent">Reset</button>
				  </div>
            </form>
        </mat-card>
            </div>
        </div>
    </div>
</div>
