<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Welcome to Exam Portal</h1>                
            </div>
        </div>
    </div>
</div>

 -->


 <div class="bootstrap-wrapper">
    
 <div class=" text-center">
    <h1 class="wlcm mt-3 mt20 mb20"> Welcome to Exam Portal</h1>
    <hr>

    <div class="row">
        <div class="col"><img src="../../../assets/Exams.gif" alt=""></div>
        <div class="col mr20">
            <h2 class="display_text mt-2 mt20 mr20">" Elevate Your Learning Experience with Interactive and Insightful " <br> <span
                    class="p"> Quiz Platform</span></h2>
            <h4 >Online quizzes have transformed the way we engage with information and learning. These interactive
                assessments, accessible from any device with an internet connection, provide a dynamic platform for
                knowledge exploration. With diverse question formats, including multiple-choice, true/false, and
                open-ended, online quizzes cater to various learning styles. They offer immediate feedback, reinforcing
                comprehension and motivating participants. Educational institutions, companies, and individuals utilize
                online quizzes for training, assessments, and entertainment. Additionally, their scalability allows
                widespread participation, fostering a global community of learners. </h4>
        </div>
    </div>
    <div>
        <button type="#" mat-raised-button color="warn" class="mb20">Read More
            <mat-icon>read_more</mat-icon></button>
    </div>
    <app-aboutus></app-aboutus>
    <!-- <app-faq></app-faq> -->
    <app-contact></app-contact>
    <app-feedback></app-feedback>
</div>
</div>