<!-- <p>contact works!</p> -->
<div class="container">
    <div class="contact" id="contact">
        <div class="about" id="about">
            <div class="left">
                <!-- <h1>Contact Us</h1> -->
                <!-- <hr> -->
                <div class="container">

                    <div class="content">
                        <div class="left-side">
                            <div class="address details">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="topic">Address</div>
                                <div class="text-one">Ranchi, Jharkhand</div>
                                <div class="text-two">India</div>
                            </div>
                            <div class="phone details">
                                <i class="fas fa-phone-alt"></i>
                                <div class="topic">Phone</div>
                                <div class="text-one">+91-98 9893 5647</div>
                                <div class="text-two">+91-96 3434 5678</div>
                            </div>
                            <div class="email details">
                                <i class="fas fa-envelope"></i>
                                <div class="topic">Email</div>
                                <div class="text-one">youremail</div>
                                <!-- <div class="text-two">sumit@gmail.com</div> -->
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="topic-text">Send us a message</div>
                            <p>If you have any work from me or any types of quries related
                                to my tutorial, you can send me message from here. It's my
                                pleasure to help you.</p>
                            <form >
                                <div class="input-box">
                                    <input type="text" id="name" name="name" ngModel placeholder="Enter your name" required>
                                </div>
                                <div class="input-box">
                                    <input type="email" id="email" name="email" ngModel placeholder="Enter your email" required>
                                </div>
                                <div class="input-box message-box">
                                    <input type="text" placeholder="Enter your message.." id="message" name="message" ngModel>
                                </div>
                                <div class="button">
                                    <!-- <input type="button" value="Send Now"> -->
                                    <button type="submit">Send Email</button>
                                </div>
                            </form>
                        </div>
                        <div class="right">
                            <img src="../../../assets/images/Contact us.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<br><br>